
<div class="homeDiv">

	<br>
	<div class="searchDirDiv">
		<h4>Search for Actors, Movies or Directors</h4>
		<search-for search-data-arr="searchData"></search-for>
	</div>

	<div class="homeDataList">
		<!-- Displaying Actors table -->
		<table class="table">
			<thead>
				<tr><th>Actors</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="actor in actors">
					<td>{{actor}}</td>
				</tr>
			</tbody>		
		</table>
		<!-- Displaying Movies table -->
		<table class="table">
			<thead>
				<tr><th>Movies</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="movie in movies">
					<td>{{movie}}</td>
				</tr>
			</tbody>		
		</table>
		<!-- Displaying Directors table -->
		<table class="table">
			<thead>
				<tr><th>Directors</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="director in directors">
					<td>{{director}}</td>
				</tr>
			</tbody>		
		</table>
	</div>	
</div>